{% extends "base.html" %}

{% block title %}Add Bike{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center">
  <div class="col-lg-6">
    <form action="{{ url_for('add_bike') }}" method="POST">
    {{ form.hidden_tag() }}
      <div class="mb-3">
        {{ form.bikes.label(class_="form-label") }}
        {{ form.bikes(class_="form-select") }}
      </div>
      <div class="mb-3">
        {{ form.submit(class_="btn btn-primary") }}
      </div>
    </form>
  </div>
</div>

{% endblock %}
