<table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Bike</th>
        <th scope="col">Last Waxed</th>
        <th scope="col">Current Miles</th>
        <th scope="col">Remaining</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% if user.bikes %}
            {% for bike in user.bikes %}
                {% set remaining = (bike.miles_limit - (bike.miles_current - bike.miles_starting)) | round(1) %}
                <tr class="{{ 'table-danger' if remaining > bike.miles_limit }}">
                    <td>{{ bike.name }}</td>
                    <td>{{ bike.miles_starting }}</td>
                    <td>{{ bike.miles_current }}</td>
                    <td>
                        {% if remaining < 0 %}
                            {{ abs(remaining) }} over
                        {% else %}
                            {{ remaining }}
                        {% endif %}
                    </td>
                    <td>
                        <button
                          class="editButton btn btn-primary"
                          type="button"
                          data-bs-toggle="collapse"
                          data-bs-target="#editCollapse{{ loop.index }}"
                          aria-expanded="false"
                          aria-controls="editCollapse{{ loop.index }}"
                        >
                        <i class="bi bi-chevron-right" id="icon1"></i>
                        </button>
                      </td>
                    </tr>
                    <tr class="collapse" id="editCollapse{{ loop.index }}">
                        <td>
                          <input
                            type="number"
                            name="miles_limit"
                            value="{{ bike.miles_limit }}"
                          />
                    <td>
                        <form action="{{ url_for('set_limit', bike_id=bike.id) }}" method="POST">
                            <input type="hidden" name="bike_id" value="{{ bike.id }}">
                            <input type="number" name="miles_limit" value="{{ bike.miles_limit }}">
                            <button type="submit" class="btn btn-primary">Edit Limit</button>
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('wax', bike_id=bike.id) }}" method="POST">
                            <input type="hidden" name="bike_id" value="{{ bike.id }}">
                            <button type="submit" class="btn btn-primary">Wax!</button> <!-- bubble explanation here -->
                        </form>
                    </td>
                    <td>
                        <form action="{{ url_for('delete', bike_id=bike.id) }}" method="POST">
                            <input type="hidden" name="bike_id" value="{{ bike.id }}">
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </tbody>
  </table>
