{% extends "base.html" %}


{% block content %}
<section class="text-white py-4 py-xl-5" style="background: url('/static/waxtracker.png') top / cover; height: 400px;">
  <div class="container">
      <div class="border rounded border-0 d-flex flex-column justify-content-center align-items-center p-4 py-5">
          <div class="row">
              <div class="col-md-10 col-xl-8 text-center d-flex d-sm-flex d-md-flex justify-content-center align-items-center mx-auto justify-content-md-start align-items-md-center justify-content-xl-center">
                  <div style="margin-top: 200px;">
                      <h1 class="font-monospace fw-bold text-primary-emphasis mb-3" style="margin: 0px 0px 48px;">WaxTracker</h1>
                      <a href="{{ url_for('login') }}" class="btn btn-primary font-monospace fs-5 me-2 py-2 px-4">Login</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


{% endblock %}
