{% extends "base.html" %}

{% block content %}
  <h1>Hi {{ user.username }}</h1>

  {% if user.strava_authenticated %}

  {% include 'bikestable.html' %}

    <p><a href="{{ url_for('add_bike') }}">Add a bike!</a></p>

  {% else %}

  <div class="jumbotron">
    <h1>Connect your Strava account to use the app.</h1>
    <p class="lead">
    	Authenticate using your Strava account.
	</p>
	<p><a class="btn btn-lg" href="{{ authorize_url }}" role="button"><img src="/static/ConnectWithStrava.png" border="0" width="262" height="43" /></a></p>

  </div>

  {% endif %}


{% endblock %}