{% extends "base.html" %}

{% block content %}
  <h1>Hi {{ user.username }}</h1>

  {% if user.strava_authenticated %}

    {% if user.bikes %}
    <h2>Bikes</h2>
      {% for bike in user.bikes %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ bike.name }}</h5>
          <p class="card-text">Last Waxed: {{ bike.miles }}</p>
          <p class="card-text">Current: {{ bike.miles }}</p>
          <p class="card-text">Total: {{ bike.miles }}</p>
          <a href="{{ url_for('bike', bike_id=bike.id) }}" class="btn btn-primary">View</a>
        </div>
      </div>
      {% endfor %}

    <a href="#" data-bs-toggle="modal" data-bs-target="#addPartModal">Add a Bike</a>

    <p><a href="{{ url_for('add_bike') }}">Add a bike!</a></p>
    {% endif %}
  <!-- <h2>Bikes</h2>
  <ul>
    {% if user.bikes %}
      {% for bike in user.bikes %}
        <li><a href="{{ url_for('bike', bike_id=bike.id) }}">{{ bike.name }}</a></li>
      {% endfor %}
    {% else %}
    <p><a href="">Add a bike!</a></p>
    {% endif %}
  </ul> -->
  {% else %}

  <div class="jumbotron">
    <h1>Connect your Strava account to use the app.</h1>
    <p class="lead">
    	Authenticate using your Strava account.
	</p>
	<p><a class="btn btn-lg" href="{{ authorize_url }}" role="button"><img src="/static/ConnectWithStrava.png" border="0" width="262" height="43" /></a></p>

  </div>

  {% endif %}


{% endblock %}